
.flip-container {
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	-ms-perspective: 1000;
	perspective: 1000;
	display:-webkit-inline-box;
	display:-moz-inline-box;
	
}

.flip-container:hover .back {
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	transform: rotateY(0deg);
	background-color:#18bc9c;
}

.flip-container:hover .front {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	transform: rotateY(180deg)
}

.flip-container, .front, .back {
	width: 24%;
	height: 24%;
	color:#ffffff;
	font-weight:bold;
	min-height: 225px;
	min-width: 225px;
}

.back{
padding-top:80px;
}

.flipper {
	-webkit-transition: .6s;
	-moz-transition: .6s;
	-ms-transition: .6s;
	transition: .6s;
	position: relative
}

.front, .back {
	-webkit-backface-visibility: hidden;
	-webkit-transition: .6s;
	-moz-backface-visibility: hidden;
	-moz-transition: .6s;
	-ms-backface-visibility: hidden;
	-ms-transition: .6s;
	backface-visibility: hidden;
	transition: .6s;
	position: absolute;
	left: 0;
	
}

.front {
	z-index: 2;
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	transform: rotateY(0deg);	
}

.back {
	-webkit-transform: rotateY(-180deg);
	-moz-transform: rotateY(-180deg);
	-ms-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
}

.blocks{
	width: 100%;
	display:inline-block;
	
}

.style8{
background-image:url("../images/styles2/salsa.jpg");
background-color:rgba(60, 157, 167, .8);
}

.style2{
background-image:url("../images/styles2/samba.jpg");
background-color:rgba(55, 57, 70, .8);
}

.style3{
background-image:url("../images/styles2/tango.jpg");
background-color:rgba(115, 112, 130, .8);
}

.style7{
background-image:url("../images/styles2/rumba.jpg");
background-color:rgba(202, 179, 61, .8);
}

.style4{
background-image:url("../images/styles2/danza.jpg");
background-color:rgba(93, 151, 120, .8);
}

.style6{
background-image:url("../images/styles2/jive.jpg");
background-color:rgba(34, 95, 126, .8);
}

.style5{
background-image:url("../images/styles2/raggaeton.jpg");
background-color: rgba(213, 81, 38, 0.8);
}

.style1{
background-image:url("../images/styles2/bachata.jpg");
background-color:rgba(105, 101, 56, .8);
}

body{
	background-position:top left;
	background-attachment:fixed;
	background-size:cover;
}
.green_text{
	color: #00925b !important;
	font-weight: bolder;
	padding-top: 20px;
}
.label-as-badge {
	border-radius: 1em;
}
.search_result_div{
	border-bottom: solid;
	border-bottom-color: #ecf0f1;
	border-bottom-width: thin;
	padding : 10px;
}
