@(userName: String, BACHATA: String, samba: String, tango: String, danza: String, REGGAETON: String, jive: String, RUMBA: String, SALSA: String)
@main("welcome", userName) {
    <h1 class="green_text" > El Baile Latino Platform</h1>

    <h2 style=" font-family : 'Lobster' ; color : whitesmoke ; ">We make dancing fun</h2>
    <br>
    <span class="blocks" style="text-align : center ;">
        <div class="flip-container">
            <a href="/course/category/BACHATA" class="flipper">
                <div class="front style1"><span>&nbsp;</span></div>
                <div class="back"><strong>BACHATA</strong><p>
                <strong>@BACHATA</strong><p>COURSES</p></div>
            </a>
        </div>
        <div class="flip-container">
            <a href="/course/category/samba" class="flipper">
                <div class="front style2"><span>&nbsp;</span></div>
                <div class="back"><strong>SAMBA</strong><p><strong>@samba</strong><p>COURSES</p></div>
            </a>
        </div>
        <div class="flip-container">
            <a href="/course/category/tango" class="flipper">
                <div class="front style3"><span>&nbsp;</span></div>
                <div class="back"><strong>TANGO</strong><p><strong>@tango</strong><p>COURSES</p></div>
            </a>
        </div>
        <div class="flip-container">
            <a href="/course/category/DANZA" class="flipper">
                <div class="front style4"><span>&nbsp;</span></div>
                <div class="back"><strong>DANZA</strong><p><strong>@danza</strong><p>COURSES</p></div>
            </a>
        </div>
        <div class="flip-container">
            <a href="/course/category/REGGAETON" class="flipper">
                <div class="front style5"><span>&nbsp;</span></div>
                <div class="back"><strong>REGGAETON</strong><p><strong>@REGGAETON</strong><p>COURSES</p></div>
            </a>
        </div>
        <div class="flip-container">
            <a href="/course/category/jive" class="flipper">
                <div class="front style6"><span>&nbsp;</span></div>
                <div class="back"><strong>JIVE</strong><p><strong>@jive</strong><p>COURSES</p></div>
            </a>
        </div>
        <div class="flip-container">
            <a href="/course/category/RUMBA" class="flipper">
                <div class="front style7"><span>&nbsp;</span></div>
                <div class="back"><strong>RUMBA</strong><p><strong>@RUMBA</strong><p>COURSES</p></div>
            </a>
        </div>
        <div class="flip-container">
            <a href="/course/category/SALSA" class="flipper">
                <div class="front style8"><span>&nbsp;</span></div>
                <div class="back"><strong>SALSA</strong><p><strong>@SALSA</strong><p>COURSES</p></div>
            </a>
        </div>
    </span>
}