@(userName: String)
@main("welcome", userName) {
    <h1 class="green_text" > El Baile Latino Platform</h1>
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <h2 style=" font-family : 'Lobster' ; color : whitesmoke ; ">We Make dance fun</h2>
    <br>
    <span class="blocks" style="text-align : center ;">
        <div class="flip-container">
            <a href="/course/category/salsa" class="flipper">
                <div class="front style1"><span>&nbsp;</span></div>
                <div class="back"><strong>BACHATA</strong><p><strong>384</strong><p>COURSES</p></div>
            </a>
        </div>
        <div class="flip-container">
            <a href="/course/category/samba" class="flipper">
                <div class="front style2"><span>&nbsp;</span></div>
                <div class="back"><strong>SAMBA</strong><p><strong>573</strong><p>COURSES</p></div>
            </a>
        </div>
        <div class="flip-container">
            <a href="/course/category/tango" class="flipper">
                <div class="front style3"><span>&nbsp;</span></div>
                <div class="back"><strong>TANGO</strong><p><strong>573</strong><p>COURSES</p></div>
            </a>
        </div>
        <div class="flip-container">
            <a href="/course/category/rumba" class="flipper">
                <div class="front style4"><span>&nbsp;</span></div>
                <div class="back"><strong>DANZA</strong><p><strong>573</strong><p>COURSES</p></div>
            </a>
        </div>
        <div class="flip-container">
            <a href="/course/category/danza" class="flipper">
                <div class="front style5"><span>&nbsp;</span></div>
                <div class="back"><strong>REGGAETON</strong><p><strong>573</strong><p>COURSES</p></div>
            </a>
        </div>
        <div class="flip-container">
            <a href="/course/category/jive" class="flipper">
                <div class="front style6"><span>&nbsp;</span></div>
                <div class="back"><strong>JIVE</strong><p><strong>573</strong><p>COURSES</p></div>
            </a>
        </div>
        <div class="flip-container">
            <a href="/course/category/reggaeton" class="flipper">
                <div class="front style7"><span>&nbsp;</span></div>
                <div class="back"><strong>RUMBA</strong><p><strong>573</strong><p>COURSES</p></div>
            </a>
        </div>
        <div class="flip-container">
            <a href="/course/category/rachata" class="flipper">
                <div class="front style8"><span>&nbsp;</span></div>
                <div class="back"><strong>SALSA</strong><p><strong>573</strong><p>COURSES</p></div>
            </a>
        </div>
    </span>
}