@(teacherProfile : models.teacher.Teacher, courses:List[models.common.course.Course],userName: String,age:String)
@import helper._
@main("Teacher Profile",userName) {

<div class="panel panel-success">
<div class="panel-heading">

<div class="btn-group">
  <a href="#" class="btn btn-default">@teacherProfile.firstName  @teacherProfile.lastName</a>
  <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><a href="/teacher/edit/">edit profile</a></li>
    <li><a href="/teacher/signOut/">sign out</a></li>
    
  </ul>
</div>

</div>
<div class="panel-body">
	<div class="list-group">
		<div class="panel panel-success">
			<div class="panel-heading">Personal Information
			
			</div>
			<div class="panel-body">
				<div class="col-lg-3">
					<img src="@teacherProfile.imgURL"  height="200" width="200">
				</div>
				
				

				<div class="well col-lg-8" style="height: 200px">
					<table>
						<col width="130">
  						<col width="80">
						<tr>
							<td height="40"><span class="teacherDetailsTitles">Name</span></td>
							<td><span class="teacherDetails">@teacherProfile.firstName @teacherProfile.lastName </span></td>
						</tr>
						<tr>
							<td height="40"><span class="teacherDetailsTitles">Gender</span></td>
							<td> <span class="teacherDetails">@teacherProfile.gender.genderName </span> </td>
						</tr>
						<tr>
							<td height="40"><span class="teacherDetailsTitles">Age</span></td>
							<td><span class="teacherDetails"> @age </span> </td>
						</tr>
						<tr>
							<td height="40"><span class="teacherDetailsTitles">Email</span></td>
							<td><span class="teacherDetails"> @teacherProfile.email </span> </td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<div class="panel panel-success">
			<div class="panel-heading">Work Information</div>
			<div class="panel-body">

				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Profissional Experience</h3>
					</div>
					<div class="panel-body">
						@teacherProfile.professionalExperience</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Dance Styles</h3>
					</div>
					<div class="panel-body">
						@for(danceStyle <- teacherProfile.danceStyles) { <span
							class="label label-info">@danceStyle.danceStyleName</span> 
						}
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Spoken Languages</h3>
					</div>
					<div class="panel-body">
						@for(language <- teacherProfile.spokenLanguages) { <span
							class="label label-info">@language.languageName</span> }
					</div>
				</div>
			</div>
		</div>

		<div class="panel panel-success">
			<div class="panel-heading">Offered Courses</div>
			<div class="panel-body">
				<table class="table table-striped table-hover ">
					<thead>
						<tr>
							<th>Dance Style</th>
							<th>Title</th>
							<th>Start Date</th>
							<th>Level</th>
							<th>Language</th>
							<th>Status</th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						@for(course <- courses) {
						<tr>
							<td>@course.danceStyle.danceStyleName</td>
							<td>@course.title</td>
							<td>@course.startDate.format("dd.MM.yyyy")</td>
							<td>@course.danceLevel</td>
							<td>@course.language.languageName</td>
							<td>@if(course.status == "open"){
								<span class="label label-success">
							} else{
								<span class="label label-danger">
							} 
							@course.status
							</span></td>
							<td><a href="@controllers.course.routes.CourseController.editById(course.id)" class="btn btn-primary btn-sm">Details</a></td>
							<td><a href="@controllers.course.routes.CourseController.showCourseSettings()" class="btn btn-primary btn-sm">Settings</a></td>
						</tr>
						}
						
					</tbody>
					
				</table>
@if(userName == teacherProfile.userName){
							<a href="@controllers.course.routes.CourseController.newCourseForm()" class="btn btn-primary btn-sm">Offer new course</a>
					}
			</div>
		</div>
	</div>
</div>
</div>

}



