@import models.common.course.SearchFilter
@(courses:List[models.common.course.Course],userName: String, keyword: String, styles: List[models.common.DanceStyle], criteria: SearchFilter, languages: List[models.common.Language])
@import helper._
@main("Search Courses",userName) {
<div class="panel panel-success">
<div class="panel-heading">Search courses (@if(keyword.length > 0){@keyword}@if(keyword.length == 0){All}) </div>
		<form class="form-horizontal" style="padding : 20px" action="/course/filter/" method="post">
			<fieldset >
				@*filter part*@
				<div class="col-md-3 well bs-component" >

					@*dates*@
					<div style="padding-top : 10px">
						<label>Starts from</label><br/>
						<input type="text" class="form-control" id="startDateFrom" name="startDateFrom"
						placeholder="dd.MM.yyyy" value="@criteria.dateFrom"/>
					</div>

					<div style="padding-top : 10px">
						<label>To</label><br/>
						<input type="text" class="form-control" id="startDateTo" name="startDateTo"
						placeholder="dd.MM.yyyy" value="@criteria.dateTo"/>
					</div>

					@*dancing style*@
					<div style="padding-top : 10px">
						<label>Dancing style</label><br/>
						<select class="form-control" id="danceStyle" name="danceStyle">
							<option>All</option>
						@for(style <- styles) {
							<option @if(criteria.danceStyle == style.danceStyleName) {selected}>@style.danceStyleName</option>
						}
						</select>
					</div>

					@*Language*@
					<div style="padding-top : 10px">
						<label>Language</label><br/>
						<select class="form-control" id="language" name="language">
							<option>All</option>
							@for(language <- languages) {
								<option @if(criteria.language == language.languageName) {selected}>@language.languageName</option>
							}
						</select>
					</div>

					<div style="padding-top : 10px">
						<button type="submit" class="btn btn-success">Filter</button>
					</div>

				</div>

				@*result part*@
				<div class="col-md-9" >
					@*{{student}}*@
					<div style="border-bottom: dashed; border-bottom-color: #18bc9c; border-bottom-width: thin;">
						<label> Courses </label>
						<span class="label label-success label-as-badge" style="margin-left: 5px">{{@courses.length}}</span>
					</div>

					<div class="search_result_div">
						<table class="table table-striped table-hover ">
							<thead>
								<tr style="background-color: #18bc9c; color: #ffffff;">
									<th></th>
									<th>Title</th>
									<th>Dance Style</th>
									<th>Start Date</th>
									<th>Level</th>
									<th>Language</th>
									<th>Status</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
							@for(course <- courses) {
								<tr>
									<td><img src="@course.pictureURL" height="50" width="50" style="vertical-align: top !important;"></td>
									<td style="padding-top: 20px;">@course.title</td>
									<td style="padding-top: 20px;">@course.danceStyle.danceStyleName</td>
									<td style="padding-top: 20px;">@course.startDate.format("dd.MM.yyyy")</td>
									<td style="padding-top: 20px;">@course.danceLevel</td>
									<td style="padding-top: 20px;">@course.language.languageName</td>
									<td style="padding-top: 20px;">@if(course.status == "open"){
										<span class="label label-success">
										} else{
										<span class="label label-danger">
										}
										@course.status
									</span></td>
									<td style="padding-top: 15px;"><a href="@controllers.course.routes.CourseController.showById(course.id)" class="btn btn-success btn-sm">Details</a></td>
								</tr>
							}

							</tbody>

						</table>
					</div>
				</div>
			</fieldset>


		</form>

	</div>

}



