@(userName: String, amount: String, courseId: String, coursePaymentForm:Form[controllers.course.CourseController.CoursePaymentForm])

@import helper._
@main("payment",userName) {
<div class="panel panel-success">
	<div class="panel-heading">Payment</div>
	<div class="panel-body">
		<form class="form-horizontal" action="/course/pay/" method="post">
			<fieldset>
				@if(coursePaymentForm.hasGlobalErrors) {
					<div class="alert alert-dismissible alert-danger">
						<button type="button" class="close" data-dismiss="alert">×</button>
						<strong>@coursePaymentForm.globalError.message</strong>
					</div>
				}
				<legend>Please enter your payment information</legend>
				<div class="form-group" style="margin-top: 20px; padding-left: 15px; padding-right: 15px;">
					<label for="status" class="col-lg-2 control-label">Payment Type</label>
					<div class="col-lg-6">
						<input class="form-control" name="paymentType" id="paymentType"
						type="text" value="Credit Card" readonly>
					</div>
				</div>
				<div class="form-group" style="margin-top: 20px; padding-left: 15px; padding-right: 15px;">
					<label for="status" class="col-lg-2 control-label">Name of Cardholder</label>
					<div class="col-lg-6">
						<input class="form-control" name="cardHolderName" id="cardHolderName"
						placeholder="Name of cardholder" type="text">
					</div>
				</div>
				<div class="form-group" style="margin-top: 20px; padding-left: 15px; padding-right: 15px;">
				<label for="status" class="col-lg-2 control-label">Card Number</label>
				<div class="col-lg-6">
					<input class="form-control" name="cardNumber" id="cardNumber"
					placeholder="Card Number" type="text">
				</div>
				</div>
				<div class="form-group" style="margin-top: 20px; padding-left: 15px; padding-right: 15px;">
				<label for="status" class="col-lg-2 control-label">Expiration Date</label>
				<div class="col-lg-6">
					<input type="text" class="form-control" id="expirationDate" name="expirationDate"
					placeholder="Expiration Date" type="text">
					<script type="text/javascript">
							$(function () {
								$('#startDate').datepicker({ format: 'mm.yy' });
							});
						</script>
				</div>
				</div>
				<div class="form-group" style="margin-top: 20px; padding-left: 15px; padding-right: 15px;">
					<label for="status" class="col-lg-2 control-label">Security Code</label>
					<div class="col-lg-6">
						<input class="form-control" name="securityCode" id="securityCode"
						placeholder="Security Code" type="text">
					</div>
				</div>
				<div class="form-group" style="margin-top: 20px; padding-left: 15px; padding-right: 15px;">
					<label for="status" class="col-lg-2 control-label"></label>
					<div class="col-lg-6">
					<img src="@routes.Assets.at("images/master_card.png")" width="250">
					</div>
				</div>
				<div class="form-group" style="margin-top: 20px; padding-left: 15px; padding-right: 15px;">
					<label for="status" class="col-lg-2 control-label">Total amount</label>
					<div class="col-lg-6">
						<input class="form-control" name="amount" id="amount" value="@amount"
						placeholder="Amount" readonly>
					</div>
				</div>
				<input class="form-control" id="courseId" name="courseId" type="hidden" value="@courseId">
			</fieldset>
			<div class="form-group" style="margin-top: 20px; padding-left: 15px; padding-right: 15px;">
				<label for="status" class="col-lg-2 control-label"></label>
				<div class="col-lg-6">
					<a class="btn btn-success" href="/">Cancel</a>
					<button type="submit" class="btn btn-success">Confirm</button>
				</div>
			</div>
		</form>
	</div>
</div>
}