@(course : models.common.course.Course,userName: String)

@import helper._
@main("Course Settings",userName) {
    <div class="panel  panel-success">
        <div class="panel-heading">Course settings</div>
        <div class="panel-body">

            <h4>Do you want to cancel a course or send a message?</h4>

            <div class="form-group">
                <label for="select" class="col-lg-2 control-label">Selects</label>
                <div class="col-lg-10">
                    <select class="form-control" id="select" onchange="onSelectBoxChange()">
                        <option>Send message to participants</option>
                        <option>Cancel a class</option>
                    </select>
                    <script>
                        function onSelectBoxChange(){
                            var SelectInput = (document.getElementById('select'));
                            var sendButton = (document.getElementById('sendButton'));
                            var textValue = (document.getElementbyId(message.input()))
                            sendButton.value =cancelReason.value;}
                    </script>

                    <div class="form-group" >
                        <p></p>
                        <p class="text-muted">If you want to cancel a class, please enter the concerned date.</p>
                        <input type="date" class="form-control">
                        <p></p>
                        <textarea class="form-control" name="CancelReason" rows="3" id="cancelReason" placeholder="Enter a reason for the cancellation and additional information."></textarea>
                        <span class="help-block">Your message will be sent to all registered participants of the course.</span>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                        <a class="btn btn-default" href="/teacher/@userName">Cancel</a>
                        <button type="submit" value=" " class="btn btn-primary" id="SendButton" href="@controllers.teacher.Mail.send()">Submit</button>
                    </div>

        </div>
    </div></div>
}