@(course : models.common.course.Course,userName: String)

@import helper._
@main("Course Settings",userName) {
    <div class="panel  panel-success">
        <div class="panel-heading">Course settings</div>
        <div class="panel-body">

            <h4>If you want to send a message to your participants, please enter the details here: </h4>

            <form class="form-horizontal" action="/courseSettings/sendemail/" method="post">
                <br>
                <div class="form-group">

                <fieldset>

                    <div class="form-group">
                        <label for="name" class="col-lg-2 control-label">Name</label>
                        <div class="col-lg-4">
                            <input class="form-control" id="name" name="name" placeholder="Please enter your name" type="textarea" rows="5">
                        </div>
                    </div>

                <div class="form-group">
                    <label for="message" class="col-lg-2 control-label">Message</label>
                    <div class="col-lg-4">
                        <input class="form-control" id="message" name="message" placeholder="Please enter your message" type="text" cols="50" rows="10"     >
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <a class="btn btn-default" href="/teacher/@userName">Cancel</a>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>

                <input type="hidden" name="courseid" value="@course.id">

                </fieldset>
                </div>
            </form>


            <h4>If you want to cancel the course, please enter the details here: </h4>

        <form class="form-horizontal" action="/courseSettings/sendcancellationemail/" method="post">
            <br>
            <div>
            <fieldset>

                <div class="form-group">
                    <label for="name" class="col-lg-2 control-label">Name</label>
                    <div class="col-lg-4">
                        <input class="form-control" id="name" name="name" placeholder="Please enter your name" type="text">
                    </div>
                </div>

                <div class="form-group">
                    <label for="date" class="col-lg-2 control-label">Date</label>
                    <div class="col-lg-4">
                        <input class="form-control" id="date" name="date" placeholder="Enter cancellation date" type="date">
                    </div>
                </div>

                <div class="form-group">
                    <label for="message" class="col-lg-2 control-label">Message</label>
                    <div class="col-lg-4">
                        <input class="form-control" id="message" name="message" placeholder="Enter your cancellation reason" type="texarea">
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <a class="btn btn-default" href="/teacher/@userName">Cancel</a>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>

                <input type="hidden" name="courseid" value="@course.id">


            </fieldset>
            </div>
        </form>

        </div>
    </div>
}