@(userName: String, amount: String, courseId: String)

@import helper._
@main("payment",userName) {
<div class="panel panel-success">
	<div class="panel-heading">Payment</div>
	<div class="panel-body">
		<form class="form-horizontal" action="/course/register/" method="post">
			<fieldset>
				<legend>Please enter your payment information</legend>
				<div class="form-group" style="margin-top: 20px; padding-left: 15px; padding-right: 15px;">
					<input class="form-control" type="text" value="Credit Card">
				</div>
				<div class="form-group" style="margin-top: 20px; padding-left: 15px; padding-right: 15px;">
					<input class="form-control" placeholder="Name of cardholder" type="text">
				</div>
				<div class="form-group" style="margin-top: 20px; padding-left: 15px; padding-right: 15px;">
					<input class="form-control" placeholder="Card Number" type="text">
				</div>
				<div class="form-group" style="margin-top: 20px; padding-left: 15px; padding-right: 15px;">
					<input class="form-control" placeholder="Expiration Date" type="date">
				</div>
				<div class="form-group" style="margin-top: 20px; padding-left: 15px; padding-right: 15px;">
					<img src="@routes.Assets.at("images/master_card.png")" width="250">
				</div>
				<div class="form-group" style="margin-top: 20px; padding-left: 15px; padding-right: 15px;">
					<input class="form-control" placeholder="Security Code" type="text">
				</div>
				<div class="form-group" style="margin-top: 20px; padding-left: 15px; padding-right: 15px;">
					<strong>Total amount:</strong><p></p><strong>@amount EUR</strong>
				</div>
				<input class="form-control" id="courseId" name="courseId" type="hidden" value="@courseId">
			</fieldset>
				<a class="btn btn-success" href="/">Cancel</a>
				<button type="submit" class="btn btn-success">Confirm</button>
		</form>
	</div>
</div>
}