@(course : models.common.course.Course,userName: String)

@import helper._
@main("Course Settings",userName) {
    <div class="panel  panel-success">
        <div class="panel-heading">Course settings</div>
        <form class="form-horizontal" action="/courseSettings/sendemail/" method="post">
            <br>
            <fieldset>
            <h4>Do you want to cancel a course or send a message?</h4>

                <div class="form-group">
                    <label for="name" class="col-lg-2 control-label">Name</label>
                    <div class="col-lg-4">
                        <input class="form-control" id="name" name="name" placeholder="Please enter your name" type="text">
                    </div>
                </div>

            <div class="form-group">
                <label for="message" class="col-lg-2 control-label">Message</label>
                <div class="col-lg-4">
                    <input class="form-control" id="message" name="message" placeholder="Please enter your message" type="text">
                </div>
            </div>


            <div class="form-group">
                <label for="date" class="col-lg-2 control-label">Date</label>
                <div class="col-lg-4">
                    <input class="form-control" id="date" name="date"
                           placeholder="date" type="password">
                    <div class="checkbox">
                        <label> <input type="checkbox"> Keep me logged in
                        </label>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="reset" class="btn btn-default">Cancel</button>
                </div>
            </div>

            </fieldset>
        </form>
        </div>
}